/******************type-4**************/
.swiper_btn {
	margin-top: -4px;
}
.gallery-button {
	margin-top: 45px;
    margin-bottom: 40px;
}
.gallery-button h2 {
	margin-bottom: 0px;
    color: #00387d;
    position: relative;
    padding-bottom: 20px;
    font-size: 32px;
}
.gallery-button h2:after {
	content: "";
    background-color: #FFB700;
    width: 122px;
    height: 3px;
    display: inline-block;
    margin-right: 15px;
    vertical-align: middle;
    margin-bottom: 3px;
    position: absolute;
    left: 0;
    bottom: 0;
}
.slide-item {
	background-color: #F4BD18;
	padding: 35px 30px;
	min-height: 184px;
    transition: all 0.5s;
}
.slide-item .fab {
    color: #fff;
    font-size: 40px;
    margin-bottom: 20px;
    padding-left: 23px;
    padding-top: 42px;
}
#swiper_btn_prev {
	float: left;
    margin-left: 91%;
    margin-bottom: 30px;
}
#swiper_btn_next {
	float: right;
	margin-right: 14px;

}
.swiper_btn .fa {
	font-size: 20px;
    color: #347fe1;
    border: 2px solid #E6F1FF;
    display: block;
    width: 37px;
    text-align: center;
    height: 37px;
    line-height: 37px;
    cursor: pointer;
}
.slide-item a {
	color: #fff;
    font-size: 16px;
    display: flex;
    margin-left: -56px;
}
.slide-item {
	padding: 1px 93px;
    min-height: 185px;
    margin: 5px 30px;
    margin-left: -9px;
    min-height: 184px;
}
.slide-item:hover, .slide-item:focus {
	 transform: translateX(0) translateY(-5px) translateZ(0) rotate(0deg) scale(1);
	box-shadow: 0 3px 10px 1px rgba(0, 0, 0, 0.5);

}


.image-wrapper a.zoom:hover img {  
  opacity: 0.9;
}
.image-wrapper a.zoom img {
    display: block;
    margin: 0;
    width: 100%;
    height: auto;
    opacity: 1;
    width: 285px;
}
.bg-color {
    background-color: #353535;
    width: 100%;
    padding-bottom: 65px;
    margin-top: 60px;
}
.contents {
    background-color: #404040;
    padding: 35px;
}
.posted a{
    color: #FFB700;
}
.posted a:hover {
    color: black;
    cursor: context-menu;

}
.posted {
    color: #FFB700;
}
.posted .far{
    color: #FFB700;
    padding-right: 5px;
}
.slide-title h3 a{
    color: #fff;
    font-size: 20px;
    font-weight: 400;
}
.slide-title h3 a:hover{
    color: #FFB700;
}
.slide-des {
    color: #fff;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 23px;
    -webkit-line-clamp: 3;
    height: 83px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    margin-top: -11px;
}
.latest-news h2 {
    margin-bottom: 10px;
    color: #fff;
    position: relative;
    padding-bottom: 20px;
    font-size: 32px;
    margin-top: 60px;
}
.latest-news h2:after {
    content: "";
    background-color: #FFB700;
    width: 122px;
    height: 3px;
    display: inline-block;
    margin-right: 15px;
    vertical-align: middle;
    margin-bottom: 3px;
    position: absolute;
    left: 0;
    bottom: 0;
}

.events h2 {
    margin-bottom: 10px;
    color: #00387d;
    position: relative;
    padding-bottom: 20px;
    margin-top: 65px;
    font-size: 32px;
}
.events h6 {
    margin-bottom: 0;
    color: #282828;
    font-size: 15px;
    font-weight: 300;
    letter-spacing: 2px;
    margin-top: -24px;
    margin-left: 54px;
}

.events h2:after {
    content: "";
    background-color: #FFB700;
    width: 40px;
    height: 3px;
    display: inline-block;
    margin-right: 15px;
    vertical-align: middle;
    margin-bottom: 3px;
    position: absolute;
    left: 0;
    bottom: 0;
}
.post-events a {
    cursor: context-menu;
    color: #313131;
}
.post-events {
    padding-left: 26px;
}
.post-events .far {
    margin-right: 9px;
}
.post-events .fas {
    margin-right: 6px;
    margin-top: 13px;
}


.image-events img {
    width: 367px;
    height: 275px;
    transition: all 0.5s;
}
.image-events a.zoom:hover img {
  opacity: 0.9
}
.title-events {
    padding: 35px;
    box-shadow: 0 3px 10px 1px rgba(0, 0, 0, 0.5);
    margin-right: 16px;
}
.slide-titles h3 a {
    color: #171717;
    font-weight: 500;
    font-size: 20px;
}
.slide-titles h3 a:hover {
    color: #FFB700;
}

.image-partners {
    border: 1px solid #c5d1d1;
}
.image-partners:hover {
    border-color: red;
}
.partners h2 {
    margin-bottom: 0px;
    color: #00387d;
    position: relative;
    padding-bottom: 20px;
    font-size: 32px;
}
.partners h2:after {
    content: "";
    background-color: #FFB700;
    width: 122px;
    height: 3px;
    display: inline-block;
    margin-right: 15px;
    vertical-align: middle;
    margin-bottom: 3px;
    position: absolute;
    left: 0;
    bottom: 0;
}
.button {
    margin-top: 8%;
    background: #347FE1;
    display: inline-block;
    z-index: 30;
    padding: 14px 20px;
    cursor: pointer;
}
.button a {
    color: #fff;
}
.button a:hover {
    opacity: 0.6;
}




