.type-23 {
  margin-top: -30px;
}
.type-23 .login {
  font-family: Lato, sans-serif, 'helvetica neue', helvetica, arial, verdana;
  font-size: 15px;
  margin-top: 27px;
}
.type-23 .gg-fb {
  font-weight: 600;
  margin-top: 24px;
}
.type-23 .gg-fb a {
    color: #fff;
    width: 133px;
    height: 45px;
    display: inline-block;
    line-height: 45px;
    text-align: center;
    background-color: #3a559f;
    border-radius: 7px;
    text-decoration: none;
    margin-right: 11px;
}
.type-23 .gg-fb p {
  color: #4a4a4a;
}
.type-23 .gg-fb span {
  padding-left: 2px;
}
.type-23 .title-lg h1{
  color: #464646;
}
.type-23 .title-lg p{
    color: #7c7b80;
    font-weight: 600;
    letter-spacing: 0.06px;
}
.type-23 .logo-header {
      margin-top: 50px;
      font-size: 44px;
}
.type-23 .logo-header a {
        text-decoration: none;
}
.type-23 .new-acc a{
  color: #df322f;
  font-weight: 600;
}
.type-23 .line {
  background-color: rgba(0,0,0,0.2);
  display: block;
  content: ' ';
  height: 3px;
  width: 80px;
  margin: 10px auto;
}

.type-23 .form-control {
  width: 25%;
  height: 8%;
}
.type-23 .button {
  background: #FAB526;
  padding: 10px 18px;
  line-height: 150%;
  transition: all 0.5s ease;
  font-weight: 900;
  color: #fff;
  border-radius: 8px;
  border: none;
}
.type-23 .dangnhap {
  display: flex;
}
.type-23 .entry-login p{
  color: #4a4a4a;
  font-weight: 600;
}
.type-23 .required {
  color: red;
}
.type-23 label {
  margin-bottom: 10px;
  font-weight: bold;
}
.type-23 .lost-pass {
      margin-top: 14px;
}
.type-23 .lost-pass a {
  text-decoration: none;
  color: #FAB526;
  font-weight: bold;
  margin-left: 18px;
}
.type-23 .form-group input {
  background-color: #e7eaec;
  border-radius: 4px;
  border: none;
}
.type-23 .hinh img {
  width: 540px;
  height: 357px;
  margin-top: -91px;
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .type-23 .form-group .form-control {
    margin-left: 250px;
    width: 50%;
  }
}
@media only screen and (max-width: 768px) {
  .type-23 .form-group .form-control {
    margin-left: 150px;
    width: 60%;
  }
}
@media only screen and (max-width: 600px) {
  .type-23 .form-group .form-control {
    margin-left: 125px;
    width: 60%;
  }
}
@media only screen and (max-width: 320px) {
  .type-23 .form-group .form-control {
    margin-left: 70px;
    width: 50%;
  }
}
@media only screen and (max-width: 400px) {
  .type-23 .form-group .form-control {
    margin-left: 40px;
    width: 80%;
  }
}
