#fix-body{
    transition: all 0.5s ease-in-out 0s;
    
}

.dis-menu {
    left: 0 !important;
}
.dis-contact{
    right: 0 !important;
}
body {
    background: #F7FCFE;
    color: #313131;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    margin: 0;
    overflow-x: hidden;
    box-sizing: border-box;
    
}
#all-world {
    position: relative;
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: inherit;
    box-sizing: border-box;
}
.container {
    width: 90%;
    max-width: 1170px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

/***************************** Header ***************************/
a {
    text-decoration: none;
}
.topbar-dropdown {
    display: flex;
    margin-top: -22px;
    width: 100%;
}
.address-block {
    display: flex;
    list-style: none;  
}
.address-block li {
    border-left: 2px solid #eee;
    padding: 15px 20px 15px 20px;
}
.address-block a {
    text-decoration: none;
    color: #777;
}
.address-block a:hover {
    color: blue;
}
.menu-login {
    display: flex;
    list-style: none;
    padding: 15px 20px;
    
    float: right;
}
#top-bar {
    color: #777;
    margin-top: 10px;
}
.address-block .fa {
    margin-right: 10px;
    color: #347fe1;
}
.pull-left {
    width: 60%;
}
.pull-right {
    width: 40%;
    float: left;
}

#signin a{
    margin-right: 11px;
    color: black;
    padding: 12px;
}
#signin a:hover {
    background-color: #347FE1;
    padding: 12px;
    border-radius: 3px;
}
#signup a {
    color: #df322f;
    border: 1px solid #df322f;
    padding: 11px;
    width: 100px;
}
#signup a:hover {
    opacity: 0.8;
}
/*LOGO + MENU*/
.site-header {
    background-color: #347FE1;
    position: relative;
    margin-top: -14px;
    margin-left: -8px;
    margin-right: -9px;
    padding: 13px;
}
/*LOGO*/
.academic-left {
    display: flex;
}
.logo {
    padding-right: 15px;
}
#site-header .site-title a{
    font-size: 32px;
    color: #fff;
}
.site-des {
    font-size: 13px;
    font-weight: 100;
    color: #fff;
}
#site-header .site-title {
    margin-bottom: 5px;
    font-size: 32px;
    margin-top: 0;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
    line-height: 1;
}
/*MENU*/
.header-container {
    display: flex;
    margin-bottom: -6px;
}
.main-navigation {
    display: flex;
}
.menu {
    display: flex;
    list-style: none;
    padding: 11px;
    font-size: 17px;
    margin-left: 330px;
}
.menu .menu1 {
    color: #fff;
    padding-right: 24px; 
    position: relative;
}
.menu .menu1:hover {
    color: #ffde00;
}

.sub-menu {
  list-style: none;
  border: none;
  position: absolute;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 99999;
  background-color: #347FE1;
  font-size: 17px;
  display: none;
}
.sub-menu a {
    color: #fff;
    margin-left: -40px;
    margin-top: 0px;
    display: block;
    padding: 10px 20px 10px 25px;
}
.sub-menu a:hover {
    background-color: royalblue;
    color: #ffde00;

}

    

.menu-dropdown {
    position: relative;
  display: inline-block;
}
.menu-dropdown:hover .sub-menu {
    display: block;
}

.menu-dropdown .dropdown-toggle:hover {
    color: #ffde00;
}
.menu-dropdown .dropdown-toggle {
    color: #fff;
    padding-right: 24px; 
    
}

/******responsive*********/
@media screen and (max-width: 1280px) {
    .menu {
        font-size: 16px;
        margin-left: 327px;
    }
    

}
@media screen and (max-width: 1024px) {
    .menu {
        font-size: 16px;
        margin-left: 94px;
    }
    

}
@media screen and (max-width: 768px) {
    #fix-body{
        margin-top: 45px;
    }
    .page-blog .site-inner #top-bar{
        display: block;
        width: 100%;
        z-index: 1000;
        position: fixed;
        top: 35px;
        background: #fff;
        background: #347FE1;
        right: -100%;
        transition: all ease-in-out 0.5s;
    }

    .page-blog .site-inner #top-bar .topbar-dropdown {
        display: block; 
        margin-top: 0;
        text-align: center;
        margin-bottom: 20px;
        color: #fff;
    }
    .page-blog .site-inner #top-bar .topbar-dropdown ul{
        margin: 0;
    }

    .page-blog .site-inner #top-bar .topbar-dropdown .pull-left , .page-blog .site-inner #top-bar .topbar-dropdown .pull-right{
        float: none;
        padding-top: 15px;
        width: 100%;
    }

    .page-blog .site-inner #top-bar .topbar-dropdown .pull-left .address-block{
        display: block;
        padding: 0;
    }
    .page-blog .site-inner #top-bar .topbar-dropdown .pull-left .address-block .fa{
        color: #fff;
    }

    .page-blog .site-inner #top-bar .topbar-dropdown .pull-left .address-block a{
        color: #fff;
    }

    .page-blog .site-inner #top-bar .topbar-dropdown .pull-left .address-block li{
        border-left: none;
        padding: 5px;
    }

    .page-blog .site-inner #top-bar .topbar-dropdown .pull-right .menu-login{
        margin-left: 0;
        display: inline-flex;
        padding: 0;
        float: none;
    }
    .page-blog .site-inner #top-bar .topbar-dropdown .pull-right .menu-login #signin{
        border-right: 1.2px solid;
    }
    .page-blog .site-inner #top-bar .topbar-dropdown .pull-right .menu-login li a{
        padding: 0;
        margin: 0 20px;
        border: none;
        color: #fff;
    }



    .page-blog .site-header{
        display: none;
    }
    
    #left-button {
        display: block;
        
    }
    #right-button {
        display: block;
        
    }
    .left-right-button {
        display: flow-root !important;
    }
    #left-top {
        display: block;
        }


}
/********************Menu moblie left icon*************************************/
.left-right-button {
    top: 0;
    width: 100%;
    display: none;
    padding-top: 5px;
    padding-bottom: 5px;
    background: #fff;
    position: fixed;
    z-index: 1000;
    
}
.menu-button {
    display: none;
}
#left-button {
    float: left;
    margin-left: 5px;
    background: #27A5E0;
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    color: #fff;
    font-size: 25px;
    border-radius: 5px;
    
}
#left-button .container {
    margin-top: 9px;
    margin-left: -7px;
}
.bar1, .bar2, .bar3 {
    width: 19px;
    height: 3px;
    background-color: #fff;
    margin: 4px 0;
    transition: all ease-in-out 0.2s;
}
.change .bar1 {
    transform: rotate(-45deg) translate(-5px, 5px);
}
.change .bar2 {
    opacity: 0;
}
.change .bar3 {
    transform: rotate(45deg) translate(-5px, -5px);
}
/**********************Menu mobile right**********************************/
#right-button {
   float: right;
    margin-right: 5px;
    background: #27A5E0;
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    color: #fff;
    font-size: 25px;
    border-radius: 5px;
   
}
/* menu mobile left */

.mobile-menu {
    display: none;
    position: fixed;
    top: 0;
    height: 100%;
    z-index: 999999;
    width: 260px;
    overflow-x: hidden;
    overflow-y: auto;
    font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
    font-size: 15px;
    transition: left 0.5s ease-in-out 0s;
    left: -260px;
    background: #347FE1;
}
.entry-left-top .top-header {
    text-align: center; 
}
.entry-left-top .top-header .top-header-logo {
    margin-bottom: 20px;
}
.entry-left-top .top-header .top-header-text a{
    font-size: 32px;
    color: #fff;
}
.entry-left-top .top-header .top-header-text p {
    margin: 0;
    margin-bottom: 25px;
}
.entry-left-top #left-id-menu {
    display: block;
    padding: 0;
    border-top: 1px solid #dfdfdf;
    border-bottom: 1px solid #fff;
    line-height: 48px;
}
.entry-left-top #left-id-menu li {
    border-bottom: 1px solid #fff;
    list-style: none;
    color: #fff;
}
.entry-left-top #left-id-menu li a {
    color: #fff;
    margin-left: 20px;
}
.entry-left-top #left-id-menu li a:focus {
    outline: thin dotted;
}
.entry-left-top #left-id-menu ul li {
    border-bottom: 1px solid #dfdfdf;
}

.entry-left-top #left-id-menu li:hover {
    background-color: #27A5E0;
    cursor: pointer;
    border-bottom: 3px solid #fff;
}

.entry-left-top #left-id-menu li ul li:hover {
    border-bottom: 2px solid #fff;
}
.border-top {
     border-bottom: 1px solid #dfdfdf;
}
.border-top:hover {
    border-bottom: 2px solid #fff;
}
