
body {
    background: #F7FCFE;
    color: #313131;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    overflow-x: hidden;
    box-sizing: border-box;
}
#all-world {
    position: relative;
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: inherit;
    box-sizing: border-box;
}
.container {
    width: 90%;
    max-width: 1170px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

/***************************** Header ***************************/
a {
    text-decoration: none;
}
.topbar-dropdown {
    display: flex;
    margin-top: -22px;

}
.address-block {
    display: flex;
    list-style: none;  

}
.address-block li {
    border-left: 2px solid #eee;
        padding: 15px 20px 15px 20px;
}
.address-block a {
    text-decoration: none;
    color: #777;
}
.address-block a:hover {
    color: blue;
}
.menu-login {
    display: flex;
    list-style: none;
    padding: 15px 20px;
    margin-left: 310px;
}
#top-bar {
    color: #777;
}
.address-block .fa {
    margin-right: 10px;
    color: #347fe1;
}
.pull-right {
    float: left;
}

#signin a{
    margin-right: 11px;
    color: black;
    padding: 12px;
}
#signin a:hover {
    background-color: #347FE1;
    padding: 12px;
    border-radius: 3px;
}
#signup a {
    color: #df322f;
    border: 1px solid #df322f;
    padding: 11px;
    width: 100px;
}
#signup a:hover {
    opacity: 0.8;
}
/*LOGO + MENU*/
.site-header {
    background-color: #347FE1;
    position: relative;
    margin-top: -14px;
    margin-left: -8px;
    margin-right: -9px;
    padding: 13px;
}
/*LOGO*/
.academic-left {
    display: flex;
}
.logo {
    padding-right: 15px;
}
#site-header .site-title a{
    font-size: 32px;
    color: #fff;
}
.site-des {
    font-size: 13px;
    font-weight: 100;
    color: #fff;
}
#site-header .site-title {
    margin-bottom: 5px;
    font-size: 32px;
    margin-top: 0;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
    line-height: 1;
}
/*MENU*/
.header-container {
    display: flex;
    margin-bottom: -6px;
}
.main-navigation {
    display: flex;
}
.menu {
    display: flex;
    list-style: none;
    padding: 11px;
    font-size: 18px;
    margin-left: 334px;

}
.menu .menu1 {
    color: #fff;
    padding-right: 24px; 
    position: relative;
}
.menu .menu1:hover {
    color: #ffde00;
}

.sub-menu {
  list-style: none;
  border: none;
  position: absolute;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  background-color: #347FE1;
  
    display: none;
}
.sub-menu a {
    color: #fff;
    margin-left: -40px;
    margin-top: 0px;
    display: block;
    padding: 10px 20px 10px 25px;
}
.sub-menu a:hover {
    background-color: royalblue;
    color: #ffde00;
    
}
.menu-dropdown {
    position: relative;
  display: inline-block;
}
.menu-dropdown:hover .sub-menu {
    display: block;
}

.menu-dropdown .dropdown-toggle:hover {
    color: #ffde00;
}
.menu-dropdown .dropdown-toggle {
    color: #fff;
    padding-right: 24px; 
    
}


    








/* footer */

